<div class="verification-page">
  <div class="verify-details">
    <img src="..\assets\Vector.svg" alt="" />
    <h2>Verify Details</h2>
  </div>

  <br />
  <p id="progressbar">{{ progressbar }}% complete</p>
  <mat-progress-bar mode="determinate" [value]="progressbar"></mat-progress-bar>

  <div class="tab-container">
    <span class="tab-1">
      <img src="../assets/Online Store.svg" alt="" />
      <h4>Store Details</h4>
    </span>

    <span class="tab-2">
      <img src="../assets/ID Verified.svg" alt="" />
      <h4>Owner Identity</h4>
    </span>

    <span class="tab-3">
      <img src="../assets/Business.svg" alt="" />
      <h4>Business Verification</h4>
    </span>

    <span class="tab-4">
      <img src="../assets/Bank Account.svg" alt="" />
      <h4>Bank Details</h4>
    </span>
  </div>

  <div *ngIf="onlineStore" class="form-store-details">
    <div id="store-details">
      <div class="row">
        <div class="col">
          <label>Store Name</label>
          <br />
          <input
            type="text"
            placeholder="Enter Store Name"
            [(ngModel)]="storeName"
            (input)="checkInputValues($event)"
          />
        </div>
        <div class="col-4">
          <label>Name of Business</label>
          <br />
          <select
            [(ngModel)]="businessName"
            (change)="checkInputValues($event)"
          >
            <option value="" disabled selected>
              Select your nature of business
            </option>
            <option *ngFor="let business of business" [value]="business.value">
              {{ business.viewValue }}
            </option>
          </select>
        </div>
        <div class="col-4"></div>
      </div>
      <div class="row">
        <div class="col-4">
          <label>Store Address</label>
          <br />
          <textarea
            [(ngModel)]="storeAddress"
            (input)="checkInputValues($event)"
            placeholder="Enter Address"
            type="text"
            rows="5"
            cols="47"
            style="height: 150px"
          ></textarea>
        </div>
        <div class="col-8">
          <label>Store ID</label>
          <br />
          <input
            placeholder="Enter Store ID"
            [(ngModel)]="storeID"
            (input)="checkInputValues($event)"
          /><span id="jewellers.live" style="margin-left: 2%"
            >@jewellers.live</span
          >
          <p>
            Store ID or Domain is a unique identifier of the your store.
            <br />
            Once a "Store ID" is created for a store or domain, it cannot be
            modified or changed.
          </p>
        </div>
        <div class="col-sm"></div>
      </div>

      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <button
            [disabled]="!areStoreDetailsInputsValid"
            type="submit"
            mat-raised-button
            color="primary"
            (click)="tab2click()"
          >
            Submit
          </button>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
  </div>

  <div *ngIf="ownerIdentity" class="form-owner-identity">
    <div id="owner-identity">
      <div class="row">
        <div class="col-4">
          <label>Aadhar Number</label>
          <br />
          <input
            placeholder="Enter Aadhar Number"
            [(ngModel)]="aadhaarNumber"
            (input)="checkInputValues($event)"
          />
          <br />
          <p>Enter the 12 digit Aadhar Number</p>
        </div>
        <div class="col-4">
          <div class="row">
            <br />
            <br /><br />
          </div>
          <div class="row">
            <div class="col">
              <button
                id="verify-button"
                [disabled]="!isAadhaarNumberValid"
                mat-raised-button
                color="primary"
                (click)="verify(continue)"
              >
                Verify
              </button>
            </div>
            <div class="col"></div>
          </div>
          <div class="row"></div>
        </div>

        <div class="col-4"></div>
      </div>
      <div class="row">
        <div class="col-4">
          <label>Front Side</label>
          <br />
          <!-- <input
            type="file"
            placeholder="Upload Image"
            accept="image/*"
            (change)="onFileSelected($event, 'front')"
          />
           -->

          <div class="upload-container">
            <span *ngIf="!frontFile" class="file-name">No File Chosen here</span>
            <span *ngIf="frontFile" class="file-name">{{
              frontFile.name
            }} is front file</span>
              <mat-icon class="delete-icon" *ngIf="frontFile" (click)="removeFile('front')">delete</mat-icon>
            <button mat-button (click)="fileInput.click()" >
              <mat-icon>file_upload</mat-icon> Upload File
            </button>
            <input
              type="file"
              #fileInput
              [ngModel]="frontFile"
              (change)="onFileSelected($event, 'front')"

              hidden
            />
          </div>
        </div>
        <div class="col-4">
          <label>Back Side</label>
          <br />
          <!-- <input
            type="file"
            placeholder="Upload Image"
            accept="image/*"
            (change)="onFileSelected($event, 'back')"
          /> -->
          <div class="upload-container">
            <span *ngIf="!backFile" class="file-name">No File Chosen</span>
            <span *ngIf="backFile" class="file-name">{{
              backFile.name
            }}</span>
              <mat-icon class="delete-icon" *ngIf="backFile" (click)="removeFile('back')">delete</mat-icon>
            <button mat-button (click)="fileInput2.click()" >
              <mat-icon>file_upload</mat-icon> Upload File
            </button>
            <input
              type="file"
              #fileInput2
              (change)="onFileSelected($event, 'back')"
              hidden
            />
          </div>
        </div>
        <div class="col-4"></div>
      </div>
      <div class="row">
        <div class="col-4">
          <label>PAN Name</label>
          <br />
          <input placeholder="Enter PAN Name" [(ngModel)]="panName" required />
        </div>
        <div class="col-4">
          <label>PAN Number</label>
          <br />
          <input
            placeholder="Enter PAN Number"
            [(ngModel)]="panNumber"
            required
          />
        </div>
        <div class="col-sm"></div>
      </div>
      <div class="row">
        <div class="col-4">
          <label>Upload PAN</label>
          <br />
          <!-- <input
            type="file"
            placeholder="Upload PAN"
            accept="image/*"
            (change)="onFileSelected($event, 'pan')"
          /> -->
          <div class="upload-container">
            <span *ngIf="!panUpload" class="file-name">No File Chosen</span>
            <span *ngIf="panUpload" class="file-name">{{
              panUpload.name
            }}</span>
              <mat-icon class="delete-icon" *ngIf="panUpload" (click)="removeFile('pan')">delete</mat-icon>
            <button mat-button (click)="fileInput3.click()" >
              <mat-icon>file_upload</mat-icon> Upload File
            </button>
            <input
              type="file"
              #fileInput3
              (change)="onFileSelected($event, 'pan')"
              hidden
            />
          </div>
        </div>
        <div class="col-4"></div>
        <div class="col-4"></div>
      </div>

      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <button
            [disabled]="
              !(panName && panNumber && panUpload && frontFile && backFile)
            "
            type="submit"
            mat-raised-button
            color="primary"
            (click)="tab3click()"
          >
            Submit
          </button>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
  </div>

  <div *ngIf="businessProof" class="form-business-proof">
    <div id="business-proof">
      <div class="row">
        <div class="col-4">
          <label>Type of Firm</label>
          <br />
          <select (input)="changeHandle($event)" [ngModel]="selectedValue">
            <option
              *ngFor="let firm of firm; let i = index"
              [value]="firm.viewValue"
              [selected]="i === 0"
            >
              {{ firm.viewValue }}
            </option>
          </select>
        </div>
        <div class="col-4">
          <div class="row">
            <br />
            <br /><br />
          </div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="row"></div>
        </div>
        <div class="col-4"></div>
      </div>
      <div class="row">
        <div class="col-4">
          <label>GSTIN Number</label>
          <br />
          <input placeholder="" [(ngModel)]="gstNumber" required />
          <br />
          <p>Enter GSTIN Number</p>
        </div>
        <div class="col-4">
          <label>Upload GST Certificate</label>
          <br />
          <!-- <input
            placeholder="No File Chosen"
            type="file"
            accept="image/*"
            (change)="onFileSelected($event, 'gst')"
          /> -->
          <div class="upload-container">
            <span *ngIf="!gstFile" class="file-name">No File Chosen</span>
            <span *ngIf="gstFile" class="file-name">{{
              gstFile.name
            }}</span>
              <mat-icon class="delete-icon" *ngIf="gstFile" (click)="removeFile('gst')">delete</mat-icon>
            <button mat-button (click)="fileInput4.click()" >
              <mat-icon>file_upload</mat-icon> Upload File
            </button>
            <input
              type="file"
              #fileInput4
              (change)="onFileSelected($event, 'gst')"
              hidden
            />
          </div>
          <br />
          <p>Formats Allowed .png</p>
        </div>
        <div class="col-4"></div>
      </div>
      <div class="row">
        <div class="col-4">
          <label>Company PAN Number</label>
          <br />
          <input placeholder="" [(ngModel)]="companyPanNumber" required />
        </div>
        <div class="col-4">
          <label>Upload PAN </label>
          <br />
          <!-- <input
            placeholder="No File Chosen"
            type="file"
            accept="image/*"
            (change)="onFileSelected($event, 'companyPan')"
          /> -->
          <div class="upload-container">
            <span *ngIf="!companyPan" class="file-name">No File Chosen</span>
            <span *ngIf="companyPan" class="file-name">{{
              companyPan.name
            }}</span>
              <mat-icon class="delete-icon" *ngIf="companyPan" (click)="removeFile('companyPan')">delete</mat-icon>
            <button mat-button (click)="fileInput5.click()" >
              <mat-icon>file_upload</mat-icon> Upload File
            </button>
            <input
              type="file"
              #fileInput5
              (change)="onFileSelected($event, 'companyPan')"
              hidden
            />
          </div>
        </div>
        <div class="col-sm"></div>
      </div>
      <div class="row">
        <div class="col-4">
          <label>Upload Hallmark License</label>
          <br />
          <!-- <input
            placeholder="No File Chosen"
            type="file"
            accept="image/*"
            (change)="onFileSelected($event, 'hallmark')"
          /> -->
          <div class="upload-container">
            <span *ngIf="!hallmarkFile" class="file-name">No File Chosen</span>
            <span *ngIf="hallmarkFile" class="file-name">{{
              hallmarkFile.name
            }}</span>
              <mat-icon class="delete-icon" *ngIf="hallmarkFile" (click)="removeFile('hallmark')">delete</mat-icon>
            <button mat-button (click)="fileInput6.click()" >
              <mat-icon>file_upload</mat-icon> Upload File
            </button>
            <input
              type="file"
              #fileInput6
              (change)="onFileSelected($event, 'hallmark')"
              hidden
            />
          </div>
          <br />
          <p>Formats allowed</p>
        </div>
        <div *ngIf="selectedValue == 'Partnership'" class="col-4">
          <label>Upload Parternship Deed</label>
          <br />
          <!-- <input
            placeholder="No File Chosen"
            type="file"
            accept="image/*"
            (change)="onFileSelected($event, 'partnership')"
          /> -->
          <div class="upload-container">
            <span *ngIf="!partnershipFile" class="file-name">No File Chosen</span>
            <span *ngIf="partnershipFile" class="file-name">{{
              partnershipFile.name
            }}</span>
              <mat-icon class="delete-icon" *ngIf="partnershipFile" (click)="removeFile('partnership')">delete</mat-icon>
            <button mat-button (click)="fileInput7.click()" >
              <mat-icon>file_upload</mat-icon> Upload File
            </button>
            <input
              type="file"
              #fileInput7
              (change)="onFileSelected($event, 'partnership')"
              hidden
            />
          </div>
          <br />
          <p>Formats allowed</p>
        </div>
        <div
          *ngIf="
            selectedValue == 'Private Limited' ||
            selectedValue == 'Limited Liability Partnership'
          "
          class="col-4"
        >
          <label>Upload Certificate of Incorporation(COI)</label>
          <br />
          <!-- <input
            placeholder="No File Chosen"
            type="file"
            accept="image/*"
            (change)="onFileSelected($event, 'coi')"
          /> -->
          <div class="upload-container">
            <span *ngIf="!coiFile" class="file-name">No File Chosen</span>
            <span *ngIf="coiFile" class="file-name">{{
              coiFile.name
            }}</span>
              <mat-icon class="delete-icon" *ngIf="coiFile" (click)="removeFile('coi')">delete</mat-icon>
            <button mat-button (click)="fileInput8.click()" >
              <mat-icon>file_upload</mat-icon> Upload File
            </button>
            <input
              type="file"
              #fileInput8
              (change)="onFileSelected($event, 'coi')"
              hidden
            />
          </div>
          <br />
          <p>Formats allowed</p>
        </div>
      </div>
      <div class="row">
        <div *ngIf="selectedValue == 'Private Limited'" class="col-4">
          <label>Memorandum of Association (MoA)</label>
          <br />
          <!-- <input
            placeholder="No File Chosen"
            type="file"
            accept="image/*"
            (change)="onFileSelected($event, 'moa')"
          /> -->
          <div class="upload-container">
            <span *ngIf="!moaFile" class="file-name">No File Chosen</span>
            <span *ngIf="moaFile" class="file-name">{{
              moaFile.name
            }}</span>
              <mat-icon class="delete-icon" *ngIf="moaFile" (click)="removeFile('moa')">delete</mat-icon>
            <button mat-button (click)="fileInput9.click()" >
              <mat-icon>file_upload</mat-icon> Upload File
            </button>
            <input
              type="file"
              #fileInput9
              (change)="onFileSelected($event, 'moa')"
              hidden
            />
          </div>
          <br />
          <p>Formats allowed</p>
        </div>
        <div
          *ngIf="selectedValue == 'Limited Liability Partnership'"
          class="col-4"
        >
          <label>LLP Deed</label>
          <br />
          <!-- <input
            placeholder="No File Chosen"
            type="file"
            accept="image/*"
            (change)="onFileSelected($event, 'llp')"
          /> -->
          <div class="upload-container">
            <span *ngIf="!llpFile" class="file-name">No File Chosen</span>
            <span *ngIf="llpFile" class="file-name">{{
              llpFile.name
            }}</span>
              <mat-icon class="delete-icon" *ngIf="llpFile" (click)="removeFile('llp')">delete</mat-icon>
            <button mat-button (click)="fileInput10.click()" >
              <mat-icon>file_upload</mat-icon> Upload File
            </button>
            <input
              type="file"
              #fileInput10
              (change)="onFileSelected($event, 'llp')"
              hidden
            />
          </div>
          <br />
          <p>Formats allowed</p>
        </div>
        <div class="col-4"></div>
      </div>

      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <button
            [disabled]="!isFormValid()"
            type="submit"
            mat-raised-button
            color="primary"
            (click)="tab4click()"
          >
            Submit
          </button>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
  </div>

  <div *ngIf="bankDetails" class="form-bank-details">
    <div id="bank-details">
      <div class="row">
        <div class="col-4">
          <label>Account Number</label>
          <br />
          <input placeholder="Enter Account Number" [(ngModel)]="accountNumber" required />
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label>IFSC</label>
          <br />
          <input placeholder="Enter IFSC Code" />
          <br />
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label>Upload Statement/Cancelled Cheque</label>
          <br />
          <!-- <input placeholder="No File Chosen" /> -->
          <div class="upload-container">
            <span *ngIf="!chequeFile" class="file-name">No File Chosen</span>
            <span *ngIf="chequeFile" class="file-name">{{
              chequeFile.name
            }}</span>
              <mat-icon class="delete-icon" *ngIf="chequeFile" (click)="removeFile('cheque')">delete</mat-icon>
            <button mat-button (click)="fileInput11.click()" >
              <mat-icon>file_upload</mat-icon> Upload File
            </button>
            <input
              type="file"
              #fileInput11
              (change)="onFileSelected($event, 'cheque')"
              hidden
            />
          </div>
          <p>Formats Allowed .png</p>
        </div>
      </div>

      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <button
            [disabled]="true"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #continue let-modal>
  <div class="myModal">
    <div class="modal-content p-2">
      <div class="modal-header" style="border: 0; height: 0">
        <h1 class="modal-title fbold"></h1>
        <button
          type="button"
          class="close closeButton btn"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <h1 class="fbold mt-2">Verify Aadhaar Card</h1>

          <p class="warning_text">
            OTP has been sent to you mobile number. <br />
            Please enter the OTP for verification
          </p>

          <ng-otp-input
            (onInputChange)="onOtpChange($event)"
            [config]="{ length: 4 }"
          ></ng-otp-input>

          <button type="button" class="btn pause_btn mt-3">Resend OTP</button>
          <br />
          <button mat-raised-button color="primary">Verify</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
